<h3 class="text-center">Current Weather Data: {{weatherdata.data[0].city_name}}</h3>
<div class="weatherDetails">
    <!-- switch between sun and moon icon-->
    <div *ngIf="!night" class="text-center" >
            <fa-icon 
                class="sun"
                [icon]="faSun"></fa-icon>
        </div> 
        <div  *ngIf="night" class="text-center" >
            <fa-icon 
                class="moon"
                [icon]="faMoon"></fa-icon>
        </div> 
        <!--moon icon-->
        <div class="text-center cloudDiv" >
            <fa-icon 
                class="cloud"
                [icon]="faCloud"></fa-icon>
        </div>  
        <div class="text-center" style="font-size: 32px; margin-top: 4px;">{{weatherdata.data[0].temp}}°</div>
        <div class="text-center" style="font-size: 15px;">{{weatherdata.data[0].weather.description}}</div>
        <div class="text-center" style="font-size: 12px;" >FeelsLike: {{weatherdata.data[0].app_temp}}°</div>
        <div class="text-center" style="font-size: 25px; margin-top: 5px;">{{weatherdata.data[0].city_name}}</div>
        <div class="text-center" style="font-size: 12px;">humidity: {{weatherdata.data[0].rh}}%</div>
          </div>
        
 

