<div class="container">
  <div class="row">
    <!-- input column-->
    <div class="col-md-6">
      <h3 class="text-center">Search for Weather:</h3>
      <form  #f='ngForm'>
        <div class="form-group">
          <input  
            type="text"
            id="location"
            name="location"
            class="form-control"
            ngModel
            required
            placeholder="Enter Location">
        </div>
        <button 
          type="button"  
          [disabled]="!f.valid" 
          class="btn btn-success"
          (click)="getCurrentWeather(f)"
          style="margin: 5px;"
          >Search Weather</button>
      </form>
      <!--loading alert-->
      <div
        class="alert alert-info" 
        *ngIf="isCurrentLoading">
        <p>loading..</p>
      </div>
      <!--success alert-->
      <div
      class="alert alert-success" 
      *ngIf="success">
      <p>Successful</p>
    </div>
    <!--null value alert-->
      <div  class="alert alert-danger"
        *ngIf="ifDataNull">
        <p >Invalid location entered</p>
      </div>
      <!--api error alert-->
      <div 
        *ngIf="currentError"
        class="alert alert-danger">
        <h1>An error Occured</h1>
        <p>{{currentError}}</p>
      </div>  
     
    </div>
    <!--Output section-->
    <div class="col-md-6">
      <!--current weather out put-->
       <app-current-wether 
        *ngIf="currentWeather"
        [weatherdata]="currentWeather"
        ></app-current-wether>
         
    </div>
  </div>
  <hr>
    <!--forecast weather output-->
  <app-fiveday-forecast
    *ngIf="weatherForecast "
    [weatherdata]="weatherForecast"
  ></app-fiveday-forecast>

</div>